{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="/static/challenges/css/main.ae00600e.css">
    <title>CTFzone</title>
    <script defer="defer" src="/static/challenges/js/main.304bf2bb.js"></script>
    <link href="/static/challenges/css/main.eed3c2ba.css" rel="stylesheet">
</head>

<body class="body"><noscript></noscript>
    <div id="root"></div>
    <div></div>
</body>

</html>